<!DOCTYPE html>
<html>
  <head>
    <title>Databitat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    
    
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

    <%= favicon_link_tag asset_path('favicon_databitat.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
